body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer"
    ;
    height: 100vh;
    margin: 0;
    background-color: #ddd;
}

body.hide-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "content"
    "footer"
;
}

header.header{
    grid-area: header;
    display: flex;
    background-color: #1976d2;
    align-items: center;
    z-index: 10;
    -webkit-box-shadow: -1px -1px 14px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 14px 10px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 14px 10px rgba(0,0,0,0.75);
    }

header.header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    flex-basis: 250px;
    height: 64px;
}

header.header .menu-toggle {
    color: white;
    cursor: pointer;
}

aside.sidebar{
    grid-area: sidebar;
}

body.hide-sidebar aside.sidebar {
    display: none;
}

main.content{
    grid-area: content;
}

footer.footer{
    grid-area: footer;
}